<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>yteduphong</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>VacxinThemMoiServlet</servlet-name>
    <servlet-class>controller.VacxinThemMoiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VacxinThemMoiServlet</servlet-name>
    <url-pattern>/admin/vacxin-them-moi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VacxinCapNhatServlet</servlet-name>
    <servlet-class>controller.VacxinCapNhatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VacxinCapNhatServlet</servlet-name>
    <url-pattern>/admin/vacxin-cap-nhat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VacxinDanhSachServlet</servlet-name>
    <servlet-class>controller.VacxinDanhSachServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VacxinDanhSachServlet</servlet-name>
    <url-pattern>/admin/danh-sach-vacxin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>KhachHangDanhSachServlet</servlet-name>
    <servlet-class>controller.KhachHangDanhSachServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KhachHangDanhSachServlet</servlet-name>
    <url-pattern>/admin/danh-sach-khach-hang</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>KhachHangChiTietServlet</servlet-name>
    <servlet-class>controller.KhachHangChiTietServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KhachHangChiTietServlet</servlet-name>
    <url-pattern>/admin/chi-tiet-lich-su-tiem-chung</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doVacxinThemMoi</servlet-name>
    <servlet-class>controller.doVacxinThemMoi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doVacxinThemMoi</servlet-name>
    <url-pattern>/admin/doVacxinThemMoi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doVacxinCapNhat</servlet-name>
    <servlet-class>controller.doVacxinCapNhat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doVacxinCapNhat</servlet-name>
    <url-pattern>/admin/doVacxinCapNhat</url-pattern>
  </servlet-mapping>
</web-app>